
.garage-page {
  width: 80vw;
}

.garage-pagination {
  display: flex;
  gap: 5px;
}

.garage-controls,
.garage-info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
